<!doctype html>
<html>

{% include head.html %}

<body unresolved class="fullbleed layout vertical">
<span id="browser-sync-binding"></span>
<template is="dom-bind" id="app">

  <paper-drawer-panel id="paperDrawerPanel">
    <!-- Drawer Scroll Header Panel -->
    <paper-scroll-header-panel drawer fixed>
      <div class="wrapper"> <!-- necessary to push copyright to bottom -->
        <!-- Drawer Toolbar -->
        <nav-image src="{{ site.baseurl }}/images/material-bg-10.png" id="menu-img"></nav-image>

        <!-- Drawer Content -->
        <paper-menu class="list" attr-for-selected="data-route" selected="{{route}}" on-iron-select="onMenuSelect">
          <a href="{{ site.baseurl }}/"><iron-icon icon="home"></iron-icon><span>Home</span></a>
          <a href="{{ site.baseurl }}/about"><iron-icon icon="social:person"></iron-icon><span>About</span></a>
          <a href="{{ site.baseurl }}/archive"><iron-icon icon="history"></iron-icon><span>Archive</span></a>
          <a data-route="contact" href="{{ site.baseurl }}/feed.xml"><iron-icon icon="fa:rss"></iron-icon><span>RSS Feed</span></a>
        </paper-menu>

        <my-nav-subheader>Elsewhere</my-nav-subheader>
        <paper-menu class="list" on-iron-select="onMenuSelect">
          {% if site.author_website %}
          <a href="{{ site.author_website }}"><iron-icon icon="av:web"></iron-icon><span>My Website</span></a>
          {% endif %}
          {% if site.github_username %}
          <a href="https://github.com/{{ site.github_username }}"><iron-icon icon="fa:github"></iron-icon><span>My Github</span></a>
          {% endif %}
          {% if site.email %}
          <a data-route="contact" href="mailto:{{ site.email }}"><iron-icon icon="mail"></iron-icon><span>Contact</span></a>
          {% endif %}
        </paper-menu>
        <div class="push"></div>
      </div>
      <div id="copyright-info">&copy; {{ site.time | date: '%Y' }}, {{ site.author }}</div>
    </paper-scroll-header-panel>

    <!-- Main Area -->
    <paper-scroll-header-panel main id="headerPanelMain" condenses keep-condensed-header>
      <!-- Main Toolbar -->
      <paper-toolbar id="mainToolbar" class="tall">
        <paper-icon-button id="paperToggle" icon="menu" paper-drawer-toggle></paper-icon-button>

        <span class="space"></span>

        <!-- Toolbar icons -->\
        <div class="top top-container">
          <my-search-bar class="top" id="search-input" searchjson="{{ site.baseurl }}/search.json"></my-search-bar>
        </div>

        <!-- Application name -->
        <div class="middle middle-container">
          <div class="app-name">{{ site.title }}</div>
        </div>

        <!-- Application sub title -->
        <div class="bottom bottom-container">
          <!--<div class="bottom-title">{{ site.subtitle }}</div>-->
          <div class="bottom-title">{{ site.subtitle }}</div>
        </div>
      </paper-toolbar>

      <!-- Main Content -->
      <div class="content">{{ content }}</div>

    </paper-scroll-header-panel>
  </paper-drawer-panel>

  <paper-toast id="toast">
    <span class="toast-hide-button" role="button" tabindex="0" onclick="app.$.toast.hide()">Ok</span>
  </paper-toast>

</template>

<!-- MathJax -->
<script type="text/javascript"
        src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>

<!-- build:js scripts/app.js -->
<script src="{{ site.baseurl }}/scripts/app.js"></script>
<!-- endbuild-->

{% include analytics.html %}

<script type="text/javascript" src="{{ site.baseurl }}/scripts/lightbox/js/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/scripts/lightbox/js/lightbox.js"></script>

</body>

</html>
